<nav>
  <div class="flex flex-wrap justify-center items-center p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/assets/logo-hit-branco.svg" alt="Logo" />
      </a>      
  </div>
</nav>
<nav>
  <div class="px-2 py-3">
      <div class="flex items-center justify-center w-full flex-wrap">
          <ul class="flex md:flex-row sm:flex-wrap font-medium mt-0 space-x-2 w-full justify-center">
              <li>
                  <a type="button" routerLink="/home" class="text-white button buttons-color rounded-lg px-10 py-3 text-center w-1/2" aria-current="page">INTRODUÇÃO</a>
              </li>
              <li>
                  <a type="button" routerLink="/contact" class="text-white button buttons-color rounded-lg px-14 py-3 text-center w-1/2">CONTATO</a>
              </li>              
          </ul>
      </div>
  </div>
</nav>
